@model Group7WebApp.Models.Post

@using Microsoft.AspNetCore.Identity
@using Group7WebApp.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container m-auto p-4">
   
       
    <h2>Create Post</h2>
    <hr />
    <form asp-controller="Post" asp-action="Create" method="post">
        <div class="form-group pb-2">
            <label>Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div c lass="form-group pb-2">
            <label>Content</label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div> 
       
        <div class="form-group pb-2">
            <label>Short Description</label>
            <input asp-for="ShortDescription" class="form-control"></input>
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>
        <div class="form-group pb-2">
            <label>Author</label>
            <input asp-for="Author" value="@(ViewBag.user.LastName) @(ViewBag.user.FirtName)" readonly class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group pb-2">
            <label>Categories</label>
            <select asp-for="Categories" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" multiple class="form-control"></select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Post" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
